<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="TransactionalBinding" transactionFlow="true" />
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="FlightBookingService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="TransactionalBinding" contract="IFlightBookingService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/FlightBooking" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>