
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="FlightServiceEndpoint"
                address="http://localhost:8001/FlightService"
                binding="basicHttpBinding"
                contract="Client.FlightService.IFlightService" />
      <endpoint name="HotelServiceEndpoint"
                address="http://localhost:8002/HotelService"
                binding="basicHttpBinding"
                contract="Client.HotelService.IHotelService" />
      <endpoint name="PaymentServiceEndpoint"
                address="http://localhost:8003/PaymentService"
                binding="basicHttpBinding"
                contract="Client.PaymentService.IPaymentService" />
      <endpoint name="NotificationServiceEndpoint"
                address="http://localhost:8004/NotificationService"
                binding="basicHttpBinding"
                contract="Client.NotificationService.INotificationService" />
    </client>
  </system.serviceModel>
</configuration>
